.header__lang-link {
    color: white;
    font-size: 24px;
    line-height: 117%;
    align-self: center;
    padding-left: 18px;
    text-decoration: none;
    margin-left: auto;
}
.header__lang-link:nth-last-child(1) {
    margin-left: 0;
}

@media (min-width:320px) and (max-width: 767px) {
    .header__lang-link {
        font-size: 18px;
        font-weight: 133%;
    }
}
