.place__title {
    margin: 0;
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
}

@media (min-width:768px) and (max-width: 1023px) {
    .place__title {
        /*подробеное описание формулы приведено в файле README.md а разделе Примечание*/
        font-size: calc(42px + .1171*(100vw - 768px));
        line-height: 110%;
    }
}

@media (min-width:320px) and (max-width: 767px) {
    .place__title {
        /*подробеное описание формулы приведено в файле README.md а разделе Примечание*/
        font-size: calc(32px + .022321*(100vw - 320px));
        line-height: 90.38%;
        margin-left: 16px;
    }
}