.photo-grid {
    /*display: grid;*/
    display: none;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
    margin: 92px 48px 0;
    padding: 0;
}