.cover__subtitle {
    margin: 32px 0 auto 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 122%;
    max-width: 360px;
    text-align: center;
    text-decoration: none;
}

@media (min-width:320px) and (max-width: 767px) {
    .cover__subtitle {
        /*подробеное описание формулы приведено в файле README.md а разделе Примечание*/
        margin: 16px 0 auto 0;
        font-size: calc(14px + 0.013392*(100vw - 320px));
        line-height: 114%;
        width: calc(288px + 0.29464*(100vw - 320px));
    }
}