.cover__subtitle {
    margin: 32px 0 auto 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 122%;
    max-width: 360px;
    text-align: center;
    text-decoration: none;
}

@media (min-width:320px) and (max-width: 767px) {
    .cover__subtitle {
        margin: 16px 0 auto 0;
        font-size: 14px;
        line-height: 114%;
    }
}