.header {
    padding: 28px 48px 0;
    margin: 0 ;
    font-size: 0;
    display:flex;
    justify-content: space-between;
}


@media (min-width:768px) and (max-width: 1023px) {
    .header {
        padding: 28px 0 0;
        max-width: 928px;
        margin: 0 auto 0;
        width: calc(100vw - 24px * 2);
    }
}


@media (min-width:320px) and (max-width: 767px) {
    .header {
        padding: calc(16 * 100vw / 320) 0 0;
        max-width: 720px;
        margin: 0 auto 0;
        width: calc(100vw - 16px * 2);
    }
}
