.lead__title {
    font-size: 96px;
    line-height: 104%;
    font-weight: 900;
    margin: 0;
    max-width: 720px;
    text-align: center;
}

@media (min-width:320px) and (max-width: 767px) {
    .lead__title {
        font-size: calc(40 * 100vw / 320);
        line-height: 110%;
    }
}