.lead__title {
    font-size: 96px;
    line-height: 1;
    font-weight: 900;
    margin: 0;
    max-width: 720px;
    text-align: center;
}

@media (min-width:320px) and (max-width: 767px) {
    .lead__title {
        /*подробеное описание формулы приведено в файле README.md а разделе Примечание*/
        font-size: calc(40px + .125*(100vw - 320px));
        line-height: 90.89%;
        max-width: 768px;
        width: 90%;
    }
}