.footer__links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    
}

@media (min-width:320px) and (max-width: 767px) {
    .footer__links {
        flex-direction: column;
    }
}
