.lead__image {
    padding: 5vw 0 0 0;
    width: 100%;
    height: 62.5%;
}


@media (min-width:1024px) and (max-width: 1279px) {
    .lead__image {
    padding: calc(56 * 100vw/1024) 0 0 0;
    }
}


@media (min-width:768px) and (max-width: 1023px) {
    .lead__image {
        padding: calc(40 * 100vw/768) 0 0 0;
        width: 100vw;
        max-width: 928px;
    }
    }

@media (min-width:320px) and (max-width: 767px) {
    .lead__image {
        padding: calc(40 * 100vw/320) 0 0 0;
        width: 100vw;
        }
    }