.cover {
    margin: 92px 48px 0;
}

@media (min-width:1024px) and (max-width: 1279px) {
    .cover {
        margin: 92px 0 0;
    }
}

@media (min-width:768px) and (max-width: 1023px) {
    .cover {
        margin: 88px 0 0;
    }
}