.lead__caption {
    margin:0;
    padding-top: 8px;
    font-size: 10px;
    line-height: 1.4;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    align-self: flex-start;
}

@media (min-width:768px) and (max-width: 1023px) {
    .lead__caption{
        padding: 0 0 0 24px;
    }
}

@media (min-width:320px) and (max-width: 767px) {
    .lead__caption{
        padding: 0 0 0 16px;
    }
}