.place {
    
    padding-top: 80px;
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-template-rows: fit-content(100%) fit-content(100%);
    grid-auto-flow: column;
    grid-column-gap: 40px;
    grid-row-gap: 48px;
    
}

.place:nth-child(1) {
    padding-top: 0;
}

@media (min-width:1024px) and (max-width: 1279px) {
    .place {
        grid-template-columns: 440px 1fr;
        grid-column-gap: 40px;
    }
}

@media (min-width:768px) and (max-width: 1023px) {
    .place {
        padding-top: 72px;
        grid-template-columns: 340px 1fr;
        grid-column-gap: 28px;
        }
    }