.footer {
    margin: 92px 48px 0;
    padding: 0 0 24px 0;
    display: flex;
}

@media (min-width:768px) and (max-width: 1023px) {
    .footer {
        margin: 88px 24px 0;
    }
}

@media (min-width:320px) and (max-width: 767px) {
    .footer {
        margin: calc(64px - 16px) 16px 0;
        flex-direction: column;
        position: relative;
    }
}

