.place__description {
    margin: 0;
    font-size: 18px;
    line-height: 163%;
    padding-bottom: 24px;
}

.place__description:nth-last-child(1) {
    padding-bottom: 0;
}

@media (min-width:768px) and (max-width: 1023px) {
    .place__description {
        font-size: 16px;
    }
}

@media (min-width:320px) and (max-width: 767px) {
    .place__description {
        padding: 0 16px 24px 16px;
        font-size: 16px;
    }
}
