.intro__title {
    margin: 0;
    padding: 0;
    font-size: 54px;
    line-height: 107%;
    font-weight: 900;
    width: 690px;
}

@media (min-width:320px) and (max-width: 767px) {
    .intro__title {
        font-size: calc(32px + .04241*(100vw-320));
        line-height: 109%;
        width: 100%;
    }
}
